<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link href="/static/css/reset.css" rel="stylesheet">
    <link href="/static/css/notice-header.css" rel="stylesheet">
    <link href="/static/css/notice.css" rel="stylesheet">
    <link href="/static/css/notice-detail.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <button class="nav-list" type="button">홈</button>
            <button class="nav-list" type="button">공지사항</button>
        </nav>
        <div class="auth-items">
            <button class="auth-button signin" type="button">로그인</button>
            <button class="auth-button signup" type="button">회원가입</button>
        </div>
    </header>
    <main>
        <div class="notice-header">
            <h1 class="menu-title">공지사항</h1>
        </div>
        <article>
            <section class="notice-detail-header">
                <h1 class="notice-detail-title">스프링부트 공지사항 게시글 테스트</h1>
                <div class="notice-detail-description">
                    <h3><span>작성자</span>junil</h3>
                    <h3><span>작성일</span>2022-08-19 19:17:00</h3>
                    <h3><span>조회수</span>100</h3>
                </div>
            </section>
            <section class="notice-content">
                <p><font face="나눔고딕, NanumGothic"><span style="font-size: 24px;">스프링부트 게시글 테스트입니다</span></font></p>
                <p><font face="나눔고딕, NanumGothic"><span style="font-size: 24px;">스프링부트 게시글 테스트입니다</span></font></p>
                <p><b><u>뭐가맞는건지</u></b></p><p><b><u>잘 모르겠네여​</u></b>&nbsp;</p>
            </section>
            <section class="notice-file">
                <h3>첨부파일:</h3>
                <a href="">aaaa.jpg</a> / <a href="">aaaa.jpg</a> / <a href="">aaaa.jpg</a></div>
            </section>
            <div class="detail-buttons">
                <div class="page-buttons">
                    <button type="button" class="detail-button pre">이전</button>
                    <button type="button" class="detail-button next">다음</button>
                </div>
                <div>
                    <button type="button" class="detail-button modify">수정</button>
                    <button type="button" class="detail-button delete">삭제</button>
                    <button type="button" class="detail-button list">목록</button>
                </div>
            </div>
        </article>
    </main>
</body>
</html>