<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<header>
        <nav>
            <button class="nav-list" type="button" onclick="location.href='/index';">홈</button>
            <button class="nav-list" type="button" onclick="location.href='/notice/list';">공지사항</button>
        </nav>
        <div class="auth-items">
            <button class="auth-button signin" type="button">로그인</button>
            <button class="auth-button signup" type="button">회원가입</button>
        </div>
	</header>
	<script type="text/javascript" src="/static/js/principal.js"></script>
</html>